- students.each do |student|
  .each-p
    .p-upper
      .p-user
        %p
          = image_tag("user.png", :alt => "募集者の画像", :class => "user-pic")
        .user-name
          %p= student.user.name
        .user-pref
          %p= student.user.prefecture
      .p-title
        %h2= truncate(student.title, length: 20)
    .p-content
      = link_to recruitment_path(student), class: "link" do
        %p
          = truncate(student.content, length: 50)
