
<div class="wrapper">
  <%= render 'recruitments/upper' %>
  <section class="main">
    <h3>受講者投稿一覧</h3>
    <div class="main-p">
      <% @students.each do |student| %>
        <% student.recruitments.each do |recruitment| %>
          <div class="each-p">
            <div class="p-upper">
              <div class="p-user">
                <p>
                  <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-pic") %>
                </p>
                <div class="user-name">
                  <p><%= student.name %></p>
                </div>
                <div class="user-pref">
                  <p><%= student.prefecture %></p>
                </div>
              </div>
              <div class="p-title">
                <h2><%= truncate(recruitment.title, length: 20) %></h2>
              </div>
            </div>
            <div class="p-content">
              <%= link_to recruitment_path(recruitment), class: "link" do %>
              <p>
                <%= truncate(recruitment.content, length: 35) %>
              </p>
              <% end %>
            </div>
            <div class="p-tag">
              <span>
                <%= fa_icon 'clock' %>
                希望日: <%= recruitment.hope_day %>
              </span>
                <span>
                  <%= fa_icon 'tag' %>
                  <%= recruitment.categories.name %>
                </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
