<% teachers.each do |teacher| %>
   <% teacher.recruitments.each do |recruitment| %>
      <div class="each-p">
        <div class="p-upper">
          <div class="p-user">
            <p>
              <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-pic") %>
            </p>
            <div class="user-name">
              <p><%= teacher.name %></p>
            </div>
            <div class="user-pref">
              <p><%= teacher.prefecture %></p>
            </div>
          </div>
          <div class="p-title">
            <h2><%= truncate(recruitment.title, length: 20) %></h2>
          </div>
        </div>
        <div class="p-content">
          <%= link_to recruitment_path(recruitment), class: "link" do %>
          <p>
            <%= truncate(recruitment.content, length: 35) %>
          </p>
          <% end %>
        </div>
        <div class="p-tag">
          <span>
            <%= fa_icon 'clock' %>
            希望日: <%= recruitment.hope_day %>
          </span>
        </div>
    </div>
  <% end %>
<% end %>
