
<div class="form-around">
  <div class="signup-form">
    <div class="form-title">
      <h1>プロフィール編集</h1>
    </div>
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="new-user-img">
      <p>
        <%= render partial: "shared/img", locals: { user: @user } %>
      </p>
      <%= f.file_field :img, class: "img-form" %>
    </div>

    <div class="new-user-name">
      <%= f.text_field :name, placeholder: "名前(10字以内)", class: "name-form" %>
    </div>

    <div class="new-email">
      <%= f.email_field :email, placeholder: "メールアドレス", class: "email-form" %>
    </div>

    <div class="new-person-type">
      <div class="radio_button">
      <%= f.radio_button :person_type, "受講者", class: "type-form", id: "inlineRadio1" %>
      <label class="form-check-label" for="inlineRadio1">受講者</label>
      </div>
      <div class="radio_button">
        <%= f.radio_button :person_type, "指導者", class: "type-form", id: "inlineRadio2" %>
        <label class="form-check-label" for="inlineRadio2">指導者</label>
      </div>
    </div>

    <div class="new-prefecture">
      <%= f.label :都道府県 %><br />
      <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: "btn btn-info"%>
    </div>

    <div class="new-age">
      <%= f.label :年齢, class: "age" %>
      <%= f.text_field :age, class: "age-form" %>
    </div>

    <div class="new-sex">
      <div class="l-sex">
        <%= f.label :性別, class: "sex" %>
      </div>
      <div class="but-sex">
        <%= f.label '男性' %>
      <%= f.radio_button :sex, :男性 %>
      <%= f.label '女性' %>
      <%= f.radio_button :sex, :女性 %>
      </div>
    </div>

    <div class="new-self-introduction">
      <%= f.label :自己紹介, class: "self-intro" %>
      <%= f.text_area :self_introduction, class: "self-i-form", rows: 6 %>
    </div>



    <div class="new-submit">
      <%= f.submit "変更する",class: "submit-btn" %>
    </div>
    <% end %>
    <div class="new-under">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
