.form-around
  .signup-form
    .form-title
      %h1 プロフィール編集
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .new-user-img
        %p
          = render partial: "shared/img", locals: { user: @user }
        = f.file_field :img, class: "img-form"
      .new-user-name
        = f.text_field :name, placeholder: "名前(10字以内)", class: "name-form"
      .new-email
        = f.email_field :email, placeholder: "メールアドレス", class: "email-form"
      .new-person-type
        .radio_button
          = f.radio_button :person_type, "student", class: "type-form", id: "inlineRadio1"
          %label.form-check-label{:for => "inlineRadio1"} 受講者
        .radio_button
          = f.radio_button :person_type, "teacher", class: "type-form", id: "inlineRadio2"
          %label.form-check-label{:for => "inlineRadio2"} 指導者
      .new-sex
        .l-sex.user-title
          %h2 性別
        .but-sex
          .sex-man
            = f.label '男性'
            = f.radio_button :sex, :男性
          .sex-women
            = f.label '女性'
            = f.radio_button :sex, :女性
      .new-prefecture
        .pref-title.user-title
          %h2 都道府県
        .select-pref
          = f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: "btn pref-btn"
      .new-age
        .age-title.user-title
          %h2 年齢
        .your-age
          = f.text_field :age, class: "age-form"
      .new-self-introduction
        .intro-title.user-title
          %h2 自己紹介
        .your-intro
          = f.text_area :self_introduction, class: "self-i-form", rows: 6
      .new-submit
        = f.submit "変更する",class: "submit-btn"
    .new-under
      = render "devise/shared/links"
