- provide(:title, "ユーザー一覧")
%section.main
  .side
    = render 'recruitments/sidebar'
  .index-wrapper
    - @users.each do |user|
      = link_to user_path(user) do
        .user-index
          .user-img
            %p
              = render partial: "shared/img", locals: { user: user }
            %h2= user.name
          .user-type
            %p.u-pref= user.prefecture
            %p.u-p-type= user.person_type
