<% provide(:title, "ユーザー一覧") %>

<section class="main">
  <div class="side">
    <%= render 'recruitments/sidebar' %>
  </div>
  <div class="index-wrapper">
    <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
    <div class="user-index">
      <div class="user-img">
        <p>
          <%= render partial: "shared/img", locals: { user: user } %>
        </p>
        <h2><%= user.name %></h2>
      </div>
      <div class="user-type">
        <p class="u-pref"><%= user.prefecture %></p>
        <p class="u-p-type"><%= user.person_type %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</section>
