<% provide(:title, "マイページ") %>

<section class="main">
  <div class="side">
    <%= render 'recruitments/sidebar' %>
  </div>

  <div class="user-wrapper">
    <div class="user">
      <div class="user-show">
        <div class="user-icon">
          <p>
            <%= render partial: "shared/img", locals: { user: @user } %>
            <span class="setting">
              <%= link_to edit_user_registration_path(id: current_user.id) do %>
                <%= icon("fas", "cog", class: "s-icon")%>
              <% end %>
            </span>
          </p>
          <div class="user-name-type">
            <h2 class="user-name">
              <%= @user.name %>
            </h2>
            <span class="user-type">
              <%= @user.person_type %>
            </span>
          </div>
        </div>
        <div class="user-prof">
          <%= render 'prof' %>
        </div>
        <div class="message-btn">
          <%= render 'messages/message' %>
        </div>
      </div>
      <div class="user-recruit">
        <%= render partial: 'recruitments/recruitment', locals: { recruitments: @recruitments } %>
      </div>
    </div>
  </div>
</section>
