<% provide(:title, "マイページ") %>

<div class="user-wrapper">
  <div class="user">
    <div class="user-show">
      <div class="user-icon">
        <p>
          <%= render partial: "shared/img", locals: { user: @user } %>
        </p>
        <div class="user-name-type">
          <h2 class="user-name">
            <%= @user.name %>
          </h2>
          <span class="user-type">
            <%= @user.person_type %>
          </span>
        </div>
      </div>
      <div class="user-prof">
        <%= render 'prof' %>
      </div>
      <div class="message-btn">
        <%= render 'messages/message' %>
      </div>
    </div>
    <div class="user-recruit">
      <%= render partial: 'recruitments/recruitment', locals: { recruitments: @recruitments } %>
    </div>
  </div>
</div>
