<div class="user-wrapper">
  <div class="user">
    <div class="user-show">
      <div class="user-icon">
        <p>
          <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-pic") %>
        </p>
        <div class="user-name-type">
          <h2 class="user-name">
            <%= @user.name %>
          </h2>
          <span class="user-type">
            <%= @user.person_type %>
          </span>
        </div>
      </div>
      <div class="user-prof">
        <div class="user-age">
          <p class="secret"><span>都道府県</span> <%= @user.prefecture %></p>
        </div>
        <div class="user-sex">
          <p class="secret"><span>年齢</span> <%= @user.age %>歳</p>
        </div>
        <div class="user-prefecture">
          <p class="secret"><span>性別</span> <%= @user.sex %></p>
        </div>
        <div class="user-self-introduction">
          <p class="secret">
            <span>自己紹介</span> <%= @user.self_introduction %>
          </p>
        </div>
      </div>
      <div class="message-btn">
        <%= render 'messages/message' %>
      </div>
    </div>
    <div class="user-recruit">

    </div>
  </div>
</div>
