<div class="each-p">
  <div class="p-upper">
    <div class="p-user">
      <%= link_to user_path(user) do %>
      <p>
        <%= image_tag("user.png", :alt => "募集者の画像", :class => "user-pic") %>
      </p>
      <div class="user-name">
        <p><%= user.name %></p>
      </div>
      <div class="user-pref">
        <p><%= user.prefecture %></p>
      </div>
      <% end %>
    </div>
    <div class="p-title">
      <h2><%= truncate(recruitment.title, length: 20) %></h2>
    </div>
  </div>
  <div class="p-content">
    <%= link_to recruitment_path(recruitment), class: "link" do %>
    <p>
      <%= truncate(recruitment.content, length: 35) %>
    </p>
    <% end %>
  </div>
  <div class="p-tag">
    <span>
      <%= fa_icon 'clock' %>
      希望日: <%= recruitment.hope_day %>
    </span>
  </div>
</div>
