
<header class="header">
  <nav class="global-nav">
    <ul class="global-nav__list">
      <% if user_signed_in? %>

        <li class="global-nav__item">
          <%= link_to 'マイページ', user_path(current_user) %>
        </li>

        <li class="global-nav__item">
          <%= link_to 'メッセージ', groups_path %>
        </li>

        <li class="global-nav__item">
          <%= link_to '投稿する', new_recruitment_path %>
        </li>

        <li class="global-nav__item">
          <%= link_to 'ユーザー一覧', new_user_session_path %>
        </li>

        <li class="global-nav__item nav-logout">
          <%= link_to 'ログアウト', destroy_user_session_path, class: "log", method: :delete, data: {confirm: "本当にいいですか？"} %>
        </li>

      <% else %>

        <li class="global-nav__item nav-logout">
          <%= link_to '新規登録', new_user_registration_path, class: "log" %>
        </li>

        <li class="global-nav__item">
          <%= link_to 'ログイン', new_user_session_path, class: "nav-login" %>
        </li>

      <% end %>

    </ul>
  </nav>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
  </div>
  <div class="black-bg" id="js-black-bg"></div>
</header>
