%body
  %header.header
    %nav.global-nav
      %ul.global-nav__list
        %li.global-nav__item.brand
          = link_to 'Teachme', root_path
        - if user_signed_in?
          %li.global-nav__item
            = link_to 'マイページ', user_path(current_user)
          %li.global-nav__item
            = link_to 'メッセージ', groups_path
          %li.global-nav__item
            = link_to '投稿する', new_recruitment_path
          %li.global-nav__item
            = link_to 'ユーザー一覧', users_path
          %li.global-nav__item.nav-logout
            = link_to 'ログアウト', destroy_user_session_path, class: "log", method: :delete, data: {confirm: "本当にいいですか？"}
        - else
          %li.global-nav__item.nav-logout
            = link_to '新規登録', new_user_registration_path, class: "log"
          %li.global-nav__item
            = link_to 'ログイン', new_user_session_path, class: "nav-login"
    #js-hamburger.hamburger
      %span.hamburger__line.hamburger__line--1
      %span.hamburger__line.hamburger__line--2
      %span.hamburger__line.hamburger__line--3
    #js-black-bg.black-bg
